.app {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

header {
  margin-left: 10rem;
  margin-bottom: 2rem;
}

.title {
  font-family: var(--title-font);
  font-size: var(--h1);
  margin-bottom: 0;
}

.subtitle {
  font-family: var(--title-font);
  font-size: var(--h2);
  margin-top: 0;
}

.hero {
  display: flex;
  align-items: center;
}

.hero-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  width: 720px;
  border-radius: 4rem;
}

.hero-content {
  margin: 2rem;
}

.hero-buttons {
  display: flex;
  justify-content: space-evenly;
}

.ppp-button {
  text-decoration: none;
  text-align: center;
  outline: none;
  font-family: var(--content-font);
  font-size: var(--body);
  border: 2px solid var(--money-green-dark);
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 120px;
  transition: all 0.1s linear;
}

.ppp-button:hover,
.ppp-button:focus {
  outline: none;
  box-shadow: 0 0 1px 1px var(--money-green-dark);
}

.ppp-button:active {
  outline: none;
  box-shadow: 0 0 3px 3px var(--money-green-dark);
}

.secondary-button {
  color: var(--money-green-dark);
  background-color: #fff;
}

.primary-button {
  color: #fff;
  background-color: var(--money-green-dark);
}

.read-more {
  margin: 6rem 12rem;
}

.read-more-title {
  text-align: center;
}

.read-more-copy {
  text-align: justify;
}

main {
  display: flex;
  justify-content: center;
}

.loan-form-container {
  background-color: var(--money-green-light);
  border: 1px solid var(--money-green-dark);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 800px;
}

.loan-form-title {
  margin: 2rem;
}

.loan-form {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.form-link {
  color: #000;
}

.naics,
.jobsreported,
.lender {
  display: grid;
  grid-template-columns: 224px 1fr;
  margin: 1.5rem 1.5rem 3rem 3rem;
}

.lender-type {
  grid-column: 1 / span 2;
}

.naics-label,
.jobsreported-label,
.lender-label {
  grid-column: 1 / span 1;
  padding: 0.5rem;
}

.form-input {
  font-size: var(--body);
  border: 1px solid var(--money-green-dark);
  border-radius: 0.25rem;
  padding: 0.5rem;
  max-width: 300px;
}

#naics,
#jobsreported,
#lender {
  grid-column: 2 / span 1;
}

.naics-help {
  grid-column: 2 / span 1;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 4rem;
}

.results {
  display: flex;
  flex-direction: column;
  width: 600px;
}
