.app {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

header {
  margin-left: 10rem;
  margin-bottom: 2rem;
}

.title {
  font-family: var(--title-font);
  font-size: var(--h1);
  margin-bottom: 0;
}

.subtitle {
  font-family: var(--title-font);
  font-size: var(--h2);
  margin-top: 0;
}

.hero {
  display: flex;
  align-items: center;
}

.hero-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  width: 757px;
  border-radius: 20rem;
}

.hero-content {
  margin: 2rem;
}

.hero-buttons {
  display: flex;
  justify-content: space-evenly;
}

.hero-button {
  text-decoration: none;
  text-align: center;
  outline: none;
  font-family: var(--content-font);
  font-size: var(--body);
  border: 2px solid var(--money-green-dark);
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 120px;
  transition: all 0.1s linear;
}

.hero-button:hover,
.hero-button:focus {
  outline: none;
  box-shadow: 0 0 1px 1px var(--money-green-dark);
}

.hero-button:active {
  outline: none;
  box-shadow: 0 0 3px 3px var(--money-green-dark);
}

.read-more-button {
  color: var(--money-green-dark);
  background-color: #fff;
}

.predict-loan-button {
  color: #fff;
  background-color: var(--money-green-dark);
}

.read-more {
  margin: 6rem 12rem;
}

.read-more-title {
  text-align: center;
}

.read-more-copy {
  text-align: justify;
}
