@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Rosario&display=swap');

:root {
  --title-font: 'Rosario', sans-serif;
  --content-font: 'Arimo', sans-serif;

  --money-green-light: #edf3f0;
  --money-green: #cadcd3;
  --money-green-dark: #293e33;

  font-size: 16px;
  --h1: 3.25rem;
  --h2: 2rem;
  --body: 1.25rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: var(--body);
  font-family: var(--content-font);

  background-color: var(--money-green);
}
